{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block icon %}../static/images/nb.png{% endblock icon %}
{% block home %}w3-text-blue{% endblock home %}

{% block content %}

<div class="w3-cell-row w3-padding-32">
    <div class="w3-container">
        <br><br>
        <p><img class="w3-circle w3-margin" width="250px" height="250px" src="/static/images/niklasb.png" alt="My face"></p>
    </div>

    <div class="w3-container">
        <h2>Hello, my name is Niklas Baumgardner</h2>
        <p>
            I am studying Computer Science Engineering with a minor in Mathematics at Michigan State University and I will graduate in December 2020.
            <br>
            I am currently an intern for the PBM IT department at Humana. I am also an undergraduate learning assistant for Object Oriented Programming (CSE 335) at MSU.
        </p>
        <br>
    </div>
    
</div>

<div class="w3-cell-row w3-light-grey w3-padding-32">
    <div class="w3-container">
        <h3>Technial Interests</h3>
    </div>

    <div class="w3-container">
        <p>I love to learn and apply that knowledge in my projects.</p>
        <p>I enjoy web development, object oriented programing, computer vision, and data analytics.</p>
        <br>
    </div>
    
</div>

<div class="w3-cell-row w3-padding-32">
    <div class="w3-container">
        <h3>Hobbies</h3>
   </div>

    <div class="w3-container">
        <!-- because it allows me to non verbally express myself. -->
        <p>I love mens fashion</p>
        <p>I love staying active by playing hockey, golfing and riding mountain bikes.</p>
        <br><br>
    </div>
    
</div>

    <!-- <h1>Welcome to my website</h1> -->
    <!-- <p><img class="w3-circle w3-margin" width="250px" height="250px" src="/static/images/niklasb.png" alt="My face"></p>
    <h2>Hello, my name is Niklas Baumgardner</h2> -->
    <!-- <p>I am studying Computer Science Engineering with a minor in Mathematics at Michigan State University. I plan to graduate in December 2020.</p> -->
    <!-- <p>I love mens fashion because it allows me to non verbally express myself</p> -->
    <!-- <p>I love to learn and apply that knowledge in my projects</p> -->
    <!-- <p>I love staying active by playing hockey, golfing and riding mountain bikes</p> -->
    <!-- <p>I enjoy web development, object oriented programing, computer vision, and data analytics</p> -->

    
{% endblock content %}