{% extends "base.html" %}

{% block title %}Projects{% endblock title %}
{% block projects %}w3-text-blue{% endblock projects %}

{% block content %}

    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br>
            <h1>Operational Projects</h1>
            <br>
        </div>

        <div class="w3-container">
            <div class="w3-cell-row">
                <div class="w3-container w3-cell" style="width:15%"></div>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <!-- <p><img class="w3-circle" width="200px" height="200px" src="/static/images/mandelbrot.png" alt="bad photo"></p> -->
                    <a href="{{ url_for('mandelbrot') }}"><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/mandelbrot.png" alt="Mandelbrot Fractal photo"></a>
                    <h5><a href="{{ url_for('mandelbrot') }}">Mandelbrot Fractals</a></h5>
                    <p>
                        This project will create Mandelbrot fractals. You can enter in the initial values or the initial values can be generated randomly. 
                        I created this as a personal project.
                        <br>Click <a href="{{ url_for('mandelbrot') }}">here</a> to try it out.
                    </p>
                </div>
                <br>
                <!-- TODO: need to add margins here for mobile version -->
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><a href="{{ url_for('steganography') }}"><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/stegb.png" alt="Steganography photo"></a></p>
                    <h5><a href="{{ url_for('steganography') }}">Steganographer</a></h5>
                    <p>
                        This project is a steganographer. Upload a picture and type a message you want to hide in the image and an image with the message encode will be returned. 
                        There is also an option to decode a message from an image. I created this as a personal project.
                        <br>Click <a href="{{ url_for('steganography') }}">here</a> to try it out.
                    </p>
                </div>
                <div class="w3-container w3-cell" style="width:15%"></div>
            </div>
            <!-- <br> -->
        </div>
        
    </div>

    <!-- <div class="w3-container w3-light-grey">
        <h1 class="w3-margin">More Projects</h1>
    </div> -->
    <div class="w3-cell-row w3-light-grey w3-padding-32">
        <div class="w3-container">
            <h1>More Projects</h1>
            <br>
        </div>

        <div class="w3-container">
            <div class="w3-cell-row">
                <div class="w3-container w3-cell" style="width:15%"></div>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <!-- <p><img class="w3-circle" width="200px" height="200px" src="/static/images/mandelbrot.png" alt="bad photo"></p> -->
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/CanadianExperience.gif" alt="Canadian Experience gif"></p>
                    <h5 style="text-decoration: underline;">Canadian Experience</h5>
                    <p>
                        Canadian Experience is a C++ application that can create a short movie. It uses key frames and interpolates between each frame to create a movie.
                        I created this for a school project.
                        <br>Click <a href="https://github.com/niklasbaumgardner/CanadianExperience" target="_blank">here</a> to see the code.
                    </p>
                </div>
                <br>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/WhoMurderedMyGrade.png" alt="Who Murdered My Grade photo"></p>
                    <h5 style="text-decoration: underline;">Who Murdered My Grade?</h5>
                    <p>
                        Who Murdered My Grade? is a Clue inspired remote multiplayer game that is built in php. Users must create an account and login to play. 
                        Games are played with 2-6 users from different browsers. The web application uses websockets to keep each user in the same game state. 
                        I created this for a group school project.
                        <br>Click <a href="http://webdev.cse.msu.edu/~baumga91/project2/" target="_blank">here</a> to play the game and <a href="https://github.com/niklasbaumgardner/WhoMurderedMyGrade" target="_blank">here</a> to view the code.
                    </p>
                </div>
                <div class="w3-container w3-cell" style="width:15%"></div>
            </div>
            <br><br>
            <div class="w3-cell-row">
                <div class="w3-container w3-cell" style="width:15%"></div>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <!-- <p><img class="w3-circle" width="200px" height="200px" src="/static/images/mandelbrot.png" alt="bad photo"></p> -->
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/TryItOut.png" alt="Try It Out photo"></p>
                    <h5 style="text-decoration: underline;">Try It Out</h5>
                    <p>
                        Try It Out is a web application at Humana that developers will upload their API information to so that other teams are able to view and use that API. 
                        Try It Out will use the API information to make HTTP requests to the API and will display relevant information to the consumers of Try It Out. Try It Out is used
                        for developers to get introduced to other teams API's and speed up the development process by allowing teams to see the API information by visiting our site instead
                        of having to contact the team and wait for a response.
                        I created this during my internship with Humana.
                    </p>
                </div>
                <br>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/UMLWars.gif" alt="UML Wars gif"></p>
                    <h5 style="text-decoration: underline;">UML Wars</h5>
                    <p>
                        UML Wars is a Space Invaders inspired game where UML classes fall from the top of the screen and a grader at the bottom of the screen will
                        "grade" the falling UML classes by shooting the red pen at the UML classes. The goal is to shoot all of the bad UML.
                        I created this for a group school project.
                        <br>Click <a href="https://github.com/niklasbaumgardner/UMLWars" target="_blank">here</a> to view the code.
                    </p>
                </div>
                <div class="w3-container w3-cell" style="width:15%"></div>
            </div>
        </div>
        
    </div>

{% endblock content %}