{% extends "base.html" %}

{% block title %}Steganography Encoder{% endblock title %}

{% block content %}

<div class="w3-cell-row w3-mobile" style="padding-top: 64px;">

    <div class="w3-container w3-cell" style="width:25%"></div>
    <div class="w3-container w3-cell w3-cell-bottom w3-mobile w3-margin-top">
        <!-- <h2><a href="{{ url_for('steganography_web.steganography') }}">About Page</a></h2> -->
        <!-- <h3 class="w3-text-blue"><a href="{{ url_for('steganography_web.decode') }}">Click here to decode an image</a></h3> -->
        <div class="w3-panel w3-border w3-light-grey">
            <p class="w3-padding w3-padding-16">
                Select an image you would like to use and then type the message you want to encode.
                <br>
                After hitting submit the image will appear and you will be able to download the encoded image.
            </p>
        </div>
    </div>
    <div class="w3-container w3-cell" style="width:25%"></div>
</div>

<div class="w3-cell-row w3-mobile">
    <div class="w3-container w3-cell" style="width:25%"></div>
    <div class="w3-container w3-cell w3-cell-bottom w3-mobile">
        {% if show %}
            <p><a href="{{ image }}" download>
                <img class="w3=padding" id="steganography" style="width:100%;max-width:500px" src="{{ image }}" alt="Image not available" width="auto" height="auto">
            </a></p>
            <p>Click the image to download</p>
            <br><br><br>
            <a class="w3-button w3-light-grey" href="{{ url_for('steganography_web.encode') }}">Encode another image</a>
            <a class="w3-button w3-dark-grey" href="{{ url_for('steganography_web.decode') }}">Decode this or another image</a>

        {% else %}
            <form class="w3-container" action="{{ url_for('steganography_web.encode_compute') }}" method="POST" enctype="multipart/form-data">
                <br>
                <label for="img">Select image to encode:</label>
                <input type="file" id="img" name="img" accept="image/png, image/jpeg" required><br><br>
                
                <div>
                    <textarea id="message" name="message" value="" rows="5" placeholder="Message to be encoded" style="width:100%" required></textarea><br>
                    <input class="w3-button w3-blue w3-margin-bottom" type="submit">
                </div>
            </form>
        {% endif %}
    </div>
    <div class="w3-container w3-cell" style="width:25%"></div>
</div>
<br><br>
{% endblock content %}