{% extends "base.html" %}

{% block title %}Steganography Encoder{% endblock title %}

{% block content %}

<style>
    .file-area {
        width: 100%;
        position: relative;
        font-size: 18px;
    }
    .file-area input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
    .file-area .file-dummy {
        width: 100%;
        padding: 50px 30px;
        border: 2px dashed #ccc;
        background-color: #fff;
        text-align: center;
        transition: background 0.3s ease-in-out;
    }
    .file-area .file-dummy .success {
        display: none;
    }
    .file-area:hover .file-dummy {
        border: 2px dashed #1abc9c;
    }
    .file-area input[type=file]:valid + .file-dummy {
        border-color: #1abc9c;
    }
    .file-area input[type=file]:valid + .file-dummy .success {
        display: inline-block;
    }
    .file-area input[type=file]:valid + .file-dummy .default {
        display: none;
    }
</style>

<div class="w3-cell-row w3-mobile" style="padding-top: 64px;">

    <div class="w3-container w3-cell" style="width:25%"></div>
    <div class="w3-container w3-cell w3-cell-bottom w3-mobile w3-margin-top">
        <!-- <h2><a href="{{ url_for('steganography_web.steganography') }}">About Page</a></h2> -->
        <!-- <h3 class="w3-text-blue"><a href="{{ url_for('steganography_web.decode') }}">Click here to decode an image</a></h3> -->
        <div class="w3-panel w3-border w3-light-grey">
            <p class="w3-padding w3-padding-16">
                Select an image you would like to use and then type the message you want to encode.
                <br>
                After hitting submit the image will appear and you will be able to download the encoded image.
            </p>
        </div>
    </div>
    <div class="w3-container w3-cell" style="width:25%"></div>
</div>

<div class="w3-cell-row w3-mobile">
    <div class="w3-container w3-cell" style="width:25%"></div>
    <div class="w3-container w3-cell w3-cell-bottom w3-mobile">
        {% if show %}
            <p><a href="{{ image }}" download>
                <img class="w3=padding" id="steganography" style="width:100%;max-width:500px" src="{{ image }}" alt="Image not available" width="auto" height="auto">
            </a></p>
            <p>Click the image to download</p>
            <br><br><br>
            <a class="w3-button w3-light-grey" href="{{ url_for('steganography_web.encode') }}">Encode another image</a>
            <a class="w3-button w3-dark-grey" href="{{ url_for('steganography_web.decode') }}">Decode this or another image</a>

        {% else %}
            <form class="w3-container" action="{{ url_for('steganography_web.encode_compute') }}" method="POST" enctype="multipart/form-data">
                <br>
                <div class="form-group file-area">
                    <!-- <label for="images">Images <span>Your images should be at least 400x300 wide</span></label> -->
                    <input type="file" name="img" id="img" required="required" multiple="multiple" accept="image/jpg, image/jpeg, image/png"/>
                    <div class="file-dummy">
                    <div class="success">Great, your files are selected. Keep on.</div>
                    <div class="default">Click to select a file, or drag it here</div>
                    </div>
                </div>
                <br><br>
                
                <div>
                    <textarea id="message" name="message" value="" rows="5" placeholder="Message to be encoded" style="width:100%" required></textarea><br>
                    <input class="w3-button w3-blue w3-margin-bottom" type="submit">
                </div>
            </form>
        {% endif %}
    </div>
    <div class="w3-container w3-cell" style="width:25%"></div>
</div>
<br><br>
{% endblock content %}