{% extends "base.html" %}


{% block title %}Mandelbrot{% endblock title %}

{% block content %}

<div class="w3-cell-row w3-margin-top w3-mobile w3-padding-64">
    <!-- <div class="w3-cell-row"></div> -->
    
    <!-- <div class="w3-card"> -->
        <img src="{{ image }}" style="width:100%;max-width:500px" onclick="document.getElementById('modal01').style.display='block'" class="w3-image w3-hover-opacity">
    <!-- </div> -->

    
    <div id="modal01" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
        <img class="w3-modal-content w3-margin-bottom" src="{{ image }}">
        <br><br><br><br>
    </div>

    

    <div class="w3-cell-row w3-margin-top w3-margin-bottom w3-mobile">
        <div class="w3-container w3-cell w3-mobile" style="width:36%"></div>
        <div class="w3-container w3-cell w3-center w3-cell-bottom w3-mobile w3-margin-top w3-margin-bottom" style="width:12%">
            <div class="w3-margin-bottom">
                <p class="w3-margin">Current Real Value:<br>{{ real }}</p>

                <label for="real">Real Number:<br></label>
                <input type="text" pattern="-?\d*\.?\d*" form="m_form" id="real" name="real" value="0" required>
            </div>
        </div>
        <div class="w3-container w3-cell w3-mobile" style="width:4%"></div>
        <div class="w3-container w3-cell w3-center w3-cell-bottom w3-mobile w3-margin-top w3-margin-bottom" style="width:12%">
            <div class="w3-margin-bottom">
                <p class="w3-margin">Current Imaginary Value:<br>{{ imag }}</p>

                <label for="imaginary">Imaginary Number:<br></label>
                <input type="text" pattern="-?\d*\.?\d*" form="m_form" id="imaginary" name="imaginary" value="0" required>
            </div>
        </div>
        <div class="w3-container w3-cell w3-mobile" style="width:36%"></div>
    </div>

    <div class="w3-cell-row w3-margin-bottom w3-margin-top">
        <div class="w3-container w3-cell w3-margin-bottom" style="width:48%">
            <div class="w3-margin-bottom w3-margin-top">
                <form id="m_form" action="{{ url_for('mandelbrot_web.calculate') }}" method="POST">
                    <input hidden type="text" id="r" name="r" value="{{ real }}">
                    <input hidden type="text" id="i" name="i" value="{{ imag }}">
                    <input class="w3-button w3-blue w3-right w3-margin-right" type="submit" id="go" name="go" value="Go">
                </form>
            </div>
        </div>
        <div class="w3-container w3-cell" style="width:4%"></div>
        <div class="w3-container w3-cell w3-margin-bottom" style="width:48%">
            <div class="w3-margin-bottom w3-margin-top">
                <form action="{{ url_for('mandelbrot_web.calculate') }}" method="POST">
                    <input class="w3-button w3-blue w3-left w3-margin-left" type="submit" id="rand" name="rand" value="Random">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  