{% extends "base.html" %}

{% block title %}Projects{% endblock title %}
{% block projects %}w3-text-blue{% endblock projects %}

{% block content %}

    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br><br><br>
            <h1>Projects</h1>
            <br>
        </div>

        <div class="w3-container">
            <div class="w3-cell-row">
                <div class="w3-container w3-cell" style="width:15%"></div>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <a href="https://niklasgolfapp.herokuapp.com/" target="_blank"><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/handicap.png" alt="Mandelbrot Fractal photo"></a>
                    <!-- <h5><a href="{{ url_for('mandelbrot_web.mandelbrot') }}">Mandelbrot Fractals</a></h5> -->
                    <h5 style="text-decoration: underline;">Handicap Calculator Golf</h5>
                    <p class="left">
                        Web application to keep track of the rounds of golf you've played and calculate your handicap.
                        <br><br>
                        Check it out <a class="w3-text-dark-green" href="https://niklasgolfapp.herokuapp.com/" target="_blank">HERE</a>
                        <br>
                    </p>
                </div>
                <br>
                <!-- TODO: need to add margins here for mobile version -->
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><a href="{{ url_for('steganography_web.steganography') }}"><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/stegb.png" alt="Steganography photo"></a></p>
                    <!-- <h5><a href="{{ url_for('steganography_web.steganography') }}">Steganographer</a></h5> -->
                    <h5 style="text-decoration: underline;">Steganographer</h5>
                    <p class="left">
                        This will hide a message within an image. Just input a message and an image and you will have a new image with a hidden message.
                        You can also decode and image that already has a hidden message inside.
                        <br><br>
                        Check it out <a class="w3-text-blue" href="{{ url_for('steganography_web.steganography') }}" target="_blank">HERE</a>
                        <!-- <form action="{{ url_for('steganography_web.steganography') }}"><input class="w3-button w3-blue" type="submit" value="Check it out here"></form> -->
                    </p>
                </div>
                <div class="w3-container w3-cell" style="width:15%"></div>
            </div>
        </div>
        
    </div>


    <div class="w3-cell-row w3-margin-bottom w3-padding-32 w3-light-grey">
        <!-- <div class="w3-container">
            <h1>More Projects</h1>
            <br>
        </div> -->

        <div class="w3-container">
            <div class="w3-cell-row">
                <div class="w3-container w3-cell" style="width:15%"></div>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <a href="{{ url_for('mandelbrot_web.mandelbrot') }}"><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/mandelbrot.png" alt="Mandelbrot Fractal photo"></a>
                    <!-- <h5><a href="{{ url_for('mandelbrot_web.mandelbrot') }}">Mandelbrot Fractals</a></h5> -->
                    <h5 style="text-decoration: underline;">Mandelbrot Fractals</h5>
                    <p class="left">
                        This project will create Mandelbrot fractal images. You can enter in the initial values or the initial values can be generated randomly.
                        <br><br>
                        Check it out <a class="w3-text-blue" href="{{ url_for('mandelbrot_web.mandelbrot') }}" target="_blank">HERE</a>
                        <!-- <form action="{{ url_for('mandelbrot_web.mandelbrot') }}"><input class="w3-button w3-blue" type="submit" value="Check it out here"></form> -->
                    </p>
                </div>
                <br>
                <!-- TODO: need to add margins here for mobile version -->
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/firefox.png" alt="Firefox photo"></p>
                    <!-- <h5><a href="{{ url_for('steganography_web.steganography') }}">Steganographer</a></h5> -->
                    <h5 style="text-decoration: underline;">Firefox Contributor</h5>
                    <p class="left">
                        Worked on the Picture-in-Picture feature of Firefox. I added the feature that remembers the previous size and location 
                        of the PIP window and uses that for the next PIP window. 
                        <br>
                    </p>
                </div>
                <!-- <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/CanadianExperience.gif" alt="Canadian Experience gif"></p>
                    <h5 style="text-decoration: underline;">Canadian Experience</h5>
                    <p class="left">
                        Canadian Experience is an application that can create a short movie. There are two characters on screen that can be moved independently. 
                        The user can drag the characters around the screen and set the frames accordingly. Once done, users can save the file or watch the short movie they created.
                        The application works by interpolationing the position and rotation of each character. There is also two trees in the background start growing at certains frames set by the user.
                        I created this for a school project.
                        <br>Click <a href="https://github.com/niklasbaumgardner/CanadianExperience" target="_blank">here</a> to view the code.
                    </p>
                </div>
                <br>
                <div class="w3-container w3-cell w3-mobile" style="width:35%">
                    <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/TryItOut.png" alt="Try It Out photo"></p>
                    <h5 style="text-decoration: underline;">Try It Out</h5>
                    <p class="left">
                        Try It Out is a web application at Humana that developers will upload their API information to so that other teams are able to view and use that API. 
                        Try It Out will use the API information to make HTTP requests to the API and will display relevant information to the consumers of Try It Out. Try It Out is used
                        for developers to get introduced to other teams API's and speed up the development process by allowing teams to see the API information by visiting our site instead
                        of having to contact the team and wait for a response.
                        I created this during my internship with Humana.
                    </p>
                </div> -->
                <div class="w3-container w3-cell" style="width:15%"></div>
            </div>
            <br><br>
            
        </div>
        
    </div>

    <div class="w3-cell-row w3-margin-bottom w3-padding-32">

        <div class="w3-container">
            <div class="w3-cell-row">
                <div class="w3-cell-row w3-margin-bottom">
                        <div class="w3-container w3-cell" style="width:15%"></div>
                        <div class="w3-container w3-cell w3-mobile" style="width:35%">
                                <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/CanadianExperience.gif" alt="Canadian Experience gif"></p>
                                <h5 style="text-decoration: underline;">Canadian Experience</h5>
                                <p class="left">
                                    Canadian Experience is an application that creates a short movie using key frames and interpolating between frames. There are two characters that can be
                                    moved independently and two trees in the background that will start growing at certain times set by the user.
                                    <br>Click <a href="https://github.com/niklasbaumgardner/CanadianExperience" target="_blank">here</a> to view the code.
                                </p>
                            </div>
                            <br>
                            <div class="w3-container w3-cell w3-mobile" style="width:35%">
                                <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/TryItOut.png" alt="Try It Out photo"></p>
                                <h5 style="text-decoration: underline;">"Try It Out"</h5>
                                <p class="left">
                                    As an intern at Humana I created an application for developers to upload their APIs so other teams can easily view and use that API.
                                    This helps speed up the development process as other teams are quickly able to view an API by visiting 
                                    Try It Out instead of having to contact the team and wait for a response which can sometimes take a while.
                                    <!-- Try It Out is a web application at Humana that developers will upload their API information to so that other teams are able to view and use that API. 
                                    Try It Out will use the API information to make HTTP requests to the API and will display relevant information to the consumers of Try It Out. Try It Out is used
                                    for developers to get introduced to other teams API's and speed up the development process by allowing teams to see the API information by visiting our site instead
                                    of having to contact the team and wait for a response.
                                    I created this during my internship with Humana. -->
                                </p>
                            </div>
                        <!-- <div class="w3-container w3-cell w3-mobile w3-margin-bottom" style="width:35%">
                            <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/WhoMurderedMyGrade.png" alt="Who Murdered My Grade photo"></p>
                            <h5 style="text-decoration: underline;">Who Murdered My Grade?</h5>
                            <p class="left">
                                Who Murdered My Grade? is a Clue inspired remote multiplayer game. Users must create an account and login to play. 
                                Games are played with 2-6 users from different browsers. The web application uses websockets to keep each user in the same game state. 
                                The goal is to accuse the correct professor of the correct "crime" from the clues.
                                I created this for a group school project.
                                <br>Click <a href="http://webdev.cse.msu.edu/~baumga91/project2/" target="_blank">HERE</a> to play the game and <a href="https://github.com/niklasbaumgardner/WhoMurderedMyGrade" target="_blank">HERE</a> to view the code.
                                <br><br>
                            </p>
                        </div>
                        <br>
                        <div class="w3-container w3-cell w3-mobile w3-margin-bottom" style="width:35%">
                            <p><img class="w3-circle w3-margin-bottom" width="200px" height="200px" src="/static/images/UMLWars.gif" alt="UML Wars gif"></p>
                            <h5 style="text-decoration: underline;">UML Wars</h5>
                            <p class="left">
                                UML Wars is a Space Invaders inspired game where UML classes fall from the top of the screen and a grader at the bottom of the screen will
                                "grade" the falling UML classes by shooting the red pen at the UML classes. The goal is to shoot all of the bad UML.
                                I created this for a group school project.
                                <br>Click <a href="https://github.com/niklasbaumgardner/UMLWars" target="_blank">HERE</a> to view the code.
                            </p>
                        </div> -->
                        <div class="w3-container w3-cell" style="width:15%"></div>
                    </div>
            </div>
        </div>
    </div>

{% endblock content %}

