{% extends "base.html" %}

{% block title %}Bracket Standings{% endblock title %}
{% block icon %}../static/images/nb.png{% endblock icon %}
{% block standings %}w3-text-blue{% endblock standings %}



{% block content %}


    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br><br><br>
            <h1>Standings</h1>
            {% if not clickable %}<p>Brackets close for editing at 1:00 PM on 3/26</p>{% endif %}
        </div>
        
    </div>

    <header class="hero">
        <div class="hero-wrap">
            <!-- <p class="intro" id="intro">NCAA</p>
                <h1 id="line">Hockey Bracket</h1> -->
                <p class="year"><i class="fa fa-star"></i> 2021 <i class="fa fa-star"></i></p>
            <!-- <p>Ballin' Outta Control</p> -->
        </div>
    </header>

    {% if brackets %}
    <!-- <a class="w3-button w3-blue w3-ripple w3-padding" href="{{ url_for('bracket.update_points') }}">Update Points</a> -->
    <div class="w3-cell-row w3-padding-32 content">
    <div class="w3-container w3-cell" style="width:15%"></div>
        <div class="w3-container">
            <table class="w3-table w3-striped w3-bordered w3-border">
                <tr>
                    <th class="w3-center">Rank</th><th class="w3-center">Bracket Name</th><th class="w3-center">Winner</th><th class="w3-center">Points</th><th class="w3-center">Max</th>
                </tr>
                {% for i, bracket in enumerate(brackets) %}
                    {% if clickable %}
                        <tr>
                            <td style="padding:0;"><a style="width: 100%;" class="w3-button" href="{{ url_for('bracket.view_bracket', id=bracket.id) }}">{{ i + 1}}</a></td>
                            <td style="padding:0;"><a style="width: 100%;" class="w3-button" href="{{ url_for('bracket.view_bracket', id=bracket.id) }}">{{ bracket.name }}</a></td>
                            <td style="padding:0;"><a style="width: 100%;" class="w3-button" href="{{ url_for('bracket.view_bracket', id=bracket.id) }}">{{ bracket.game15 }}</a></td>
                            <td style="padding:0;"><a style="width: 100%;" class="w3-button" href="{{ url_for('bracket.view_bracket', id=bracket.id) }}">{{ bracket.points }}</a></td>
                            <td style="padding:0;"><a style="width: 100%;" class="w3-button" href="{{ url_for('bracket.view_bracket', id=bracket.id) }}">{{ bracket.max_points }}</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="w3-center" style="padding:0;">{{ i + 1}}</td>
                            <td class="w3-center" style="padding:0;">{{ bracket.name }}</td>
                            <td class="w3-center" style="padding:0;">{{ bracket.name }} Winner</td>
                            <td class="w3-center" style="padding:0;">{{ bracket.points }}</td>
                            <td class="w3-center" style="padding:0;">{{ bracket.max_points }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    <div class="w3-container w3-cell" style="width:15%"></div>
    </div>
    {% else %}
        <h1>No brackets. Click <a href="{{ url_for('bracket.edit_bracket') }}">here</a> to create a bracket</h1>
    {% endif %}

{% endblock content %}